Principal
Mi Equipo
Reglas
Brakets
Equipos
Podrán participar en las competencias de Mackgora todos aquellos estudiantes que cumplan los requisitos impuestos por la Organización y acepten expresamente los presentes términos y condiciones generales. Las reglas nacieron de la necesidad de mantener la armonía entre los integrantes de una comunidad (y no como un medio para abusar y sacar provecho del resto injustificadamente), por esto en Mackgora serán usadas y aplicadas con criterio, racionalidad, objetividad e imparcialidad por los administradores. Todos los formularios de inscripciones estarán disponibles en esta misma web. Ante cualquier consulta contactarse por cualquier medio de las paginas Oficiales de la Comunidad Dotera de Sistemas

INSCRIPCIONES
Todos los participantes deberán registrarse en el formulario disponible en nuestra web especificando cada punto detalladamente.
Para que la inscripción del equipo sea válido, el equipo los titulares deberán encontrarse registrado en Dota 2, de lo contrario dicha inscripción no será efectuada. Los suplentes, quedan exentos de esta regla.
Los suplentes son opcionales, pero solo podrán ser usados los que hayan sido inscriptos, de lo contrario no serán válidos, no importa si el motivo es error en inscripción, o cualquier otro.
El líder registrado debe ser el líder oficial del equipo, este realizara las selecciones y prohibiciones de héroes. De lo contrario, la inscripción no será válida.
Las inscripciones solo serán válidas mientras sean en el tiempo definid para inscribirse, o en casos de excepción. Cualquier otra inscripción que no cumpla con esto no será válida.
Se asume que cada equipo inscripto leyó y está de acuerdo con las normas y reglas establecidas por la Comunidad Dota 2.
Aunque no es obligatorio para inscripción, se recomienda fuertemente tener dos jugadores suplentes por equipo.
En caso de que la inscripción requiera la entrega de algún Items, Keys o algún otro requerimiento. La inscripción será efectuada cuando estos requerimientos sean entregados a los Organizadores Oficiales e identificados.
La confirmación de una inscripción puede ser o no informada, está en cada líder en informarse de la misma.
CONDUCTA DE JUGADORES Y EQUIPOS
Los competidores deberán mostrar una conducta moderada, mostrando respeto hacia los espectadores, otros competidores, referentes y público en general.
El uso de palabras ofensivas dentro del chat también están prohibidas.
La junta de referees tiene el derecho de descalificar y descartar cualquier jugador registrado en el torneo, a su discreción, en cualquier etapa del torneo, por motivos detallados en reglamento.
Los equipos y jugadores no deberán cometer conductas antideportivas.